html, body{
  height: 100%;
} 
.container-fluid{
  position: relative;
  height: 100%;
  background-color: rgb(255, 51, 0);
  background: url(./img/3201.jpg) no-repeat;
  background-position: center;
  background-size: cover;  
}
/* .top{
  z-index: 100;
}
.opacity-fix{
  position: absolute;
  width: 1355.4px;
  height: 640.66px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2 ;
  background-color: aliceblue;
  opacity: 0.5; 
  filter: alpha(opacity=20);
} */
.wrap{
  position: absolute;
  background-color: lightgrey;
  background: url(./img/715001.jpg) no-repeat;
  background-size: contain;
  background-position: 100% 0;
  width: 1355.4px;
  height: 640.66px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-wrap{
  position: absolute;
  width: 45%;
  z-index: 100;
}
.text-fadein{
  top: 150px;
  opacity: 0;
}
.text-wrap > p{
  position: absolute;
  font-size: 0.7rem;
  margin-top: 60%;
  margin-left: 17%; 
  font-size: 1.2rem;
  color: grey;
}
.text-wrap > h1{
  position: absolute;
  margin-top: 15%;
  margin-left: 15%;
  font-size: 10rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.text-wrap h1:last-of-type{
  font-size: 7rem;
}

svg{
  position: absolute; 
}
.rect{
  fill: rgb(250, 240, 226) ;
}

.arrow-btns{
  position: absolute;
  right: 0;
  bottom: 3%;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  border: 0.1rem solid lightgray;
}
.arrow-btns:hover{
  background-color: lightgray;
}
.arrow-btns:focus{
  outline: none;
} 
.arrow-btns:active{
  background-color: rgb(172, 172, 172);
}
.arrow-btns > i{
  font-size: 2rem;
}
#right-arrow{
    margin-right: 5%;
}
#left-arrow{
  margin-right: 10%;
}
.social-links{
  display: flex; 
  position: absolute;
  bottom: 0;
  left: 0;

}
.social-links a > i{
  font-size: 3rem;
  color: gray;
}
.social-links a{
  margin: 5%
}
#pug{
  width:3rem;
}

	